{% extends 'base.html.twig' %}

{% block title %}Altmühlsee Unterkünfte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ include('search_sidebar.html.twig') }}
            </div>
            <div class="col-md-9" id="heart-overflow">

                {% if header_region is not empty %}<h1 class="h2">Im Umkreis {{ header_region }} <span
                            class="badge badge-pill badge-success">{{ hostels|length }}</span></h1>{% endif %}
                <!-- Hostel view Premium Position -->
                {% if top_hostels is not empty %}
                    <div class="row bg-primary mb-3 pt-3 pb-3">
                        {{ include('hostel_view/_hostel_top_position.html.twig') }}
                    </div>
                {% endif %}


                <!-- Hostel view Default Position -->
                {% for hostel in hostels %}
                    {% if hostel.toplisting is empty or hostel.toplisting is not empty and app.request.request.get('search_hostel') is not empty %}
                        <div class="card card-list-hotels mb-2">
                            <div class="row">

                                <!-- Hostel Image -->
                                <div class="img-thumb-box col-md-4">
                                    <!-- Notice Heart Button Ajax submit -->
                                    {% if hostel.id in app.session.get('notice') %}
                                        <a href="{{ path('notice_remove',{'id':hostel.id}) }}" class="notice-button"><i
                                                    class="fas fa-heart"></i></a>
                                    {% else %}
                                        <a href="{{ path('notice_add',{'id':hostel.id}) }}" class="notice-button"><i
                                                    class="far fa-heart"></i></a>
                                    {% endif %}
                                    <!-- Notice Heart Button Ajax submit #END -->

                                    <a href="{{ path('hostel_details',{'id':hostel.id}) }}">
                                        <!-- Hostel Image -->
                                        {% if hostel.image is not empty and 'base_account' in hostel.user.userPrivileges or 'premium_account' in hostel.user.userPrivileges %}
                                            <!-- Image -->
                                            <img src="{{ hostel.image }}" alt="{{ hostel.hostelName }}"
                                                 class="rounded float-left card-img-left img-fluid">
                                        {% else %}
                                            <!-- Place Holder Image -->
                                            <img src="{{ asset('uploads/placeholder255x255.png') }}" alt="{{ hostel.hostelName }}"
                                                 class="rounded float-left card-img-left img-fluid">
                                        {% endif %}
                                    </a>
                                </div>

                                <!-- Hostel Detail Part -->
                                <div class="card-body col-md-8 align-top">

                                    <!-- DEHOGA Stars -->
                                    {% if hostel.stars is not empty %}
                                        <div class="mb-1 d-inline" data-toggle="popover"
                                             title="{{ hostel.stars }} Sterne Unterkunft"
                                             data-content="Eine wirklich schöne Unterkunft mit {{ hostel.stars }} Sternen.">{% for i in 1..hostel.stars %}
                                                <span class="fa fa-star text-warning"></span> {% endfor %} <span
                                                    class="far fa-question-circle text-muted"></span></div>
                                    {% endif %}
                                    <!-- DEHOGA Stars #END -->

                                    <!-- Heading -->
                                    <h3><a href="{{ path('hostel_details',{'id':hostel.id}) }}"
                                           class="text-decoration-none">{{ hostel.hostelName }}</a>
                                    </h3>
                                    <!-- Hostel Type -->
                                    <strong>{{ hostel.hostelType }}</strong>
                                    <div class="row mb-1">
                                        <div class="col-md-12">
                                            {# <?php foreach ($serviceRepository->getAllServices() as $service): ?>
                                             <?php if (!empty($chunk[$service['name']])): ?>#}
                                            {# <img src="images/icons/{{ hostel.id }}" data-toggle="tooltip"
                                                  title="{{ hostel.id }}"/>#}
                                            {#  <?php endif; ?>
                                              <?php endforeach; ?>#}
                                        </div>
                                    </div>
                                    <div class="accordion" id="accordion_{{ hostel.id }}">
                                        <div class="card">
                                            <div class="card-header" id="heading_{{ hostel.id }}">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#collapse_{{ hostel.id }}" aria-expanded="true"
                                                            aria-controls="collapseOne">
                                                        <div class="listing-icon-location">
                                                            <i class="fa fa-map-marker-alt"></i>
                                                        </div> {{ hostel.city }}  {{ hostel.distanceToSee|number_format('1',',','.') }}
                                                        KM vom See
                                                        entfernt <i class="fas fa-angle-down rotate-icon"></i>
                                                    </button>
                                                </h2>
                                            </div>

                                            <div id="collapse_{{ hostel.id }}" class="collapse"
                                                 aria-labelledby="heading_{{ hostel.id }}"
                                                 data-parent="#accordion_{{ hostel.id }}">
                                                <div class="card-body">
                                                  <div class="row">
                                                      <div class="col-md-12">
                                                          <ul class="list-unstyled">
                                                              {% for room in hostel.rooms|sort((a, b) => a.finalRate <=> b.finalRate) %}
                                                                  <li class="mb-2 border-bottom">
                                                                      {% set r = room.finalRate / 100 %}
                                                                      {{ room.accommodationType }} ab
                                                                      <b>{{ r|format_currency(room.currency, {rounding_mode: 'floor'}) }}</b>/Nacht
                                                                      <br>
                                                                      <span>{{ room.unitSize }} {{ room.unitType }} {{ room.name }}</span>
                                                                  </li>
                                                              {% endfor %}
                                                          </ul>

                                                      </div>
                                                  </div>
                                                   <div class="row bg-white border border-primary p-2">
                                                       <div class="col-md-12">
                                                           <span class="h6">Kontakt</span>
                                                          <ul class="list-unstyled">
                                                              <li>{{ hostel.hostelName }}</li>
                                                              <li>{{ hostel.address }}</li>
                                                              <li>{{ hostel.postcode }} {{ hostel.city }}</li>
                                                              <li>Tel.: <a href="tel:{{ hostel.phone|replace({'0':+49}) }}">{{ hostel.phone }}</a></li>
                                                              {% if hostel.fax is not empty %}<li>Fax.: {{ hostel.fax }}</li>{% endif %}
                                                              <li>Email: {{ hostel.email }}</li>
                                                          </ul>
                                                       </div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Button Group -->
                                    <div class="btn-group-sm mt-4 text-right">
                                        <a href="mailto:{{ hostel.email }}?subject=Altmühlsee Portal Anfrage"
                                           class="btn btn-sm btn-outline-primary"><i class="fa fa-mail-bulk"></i> E-Mail
                                            schreiben</a>
                                        <a href="{{ path('hostel_details',{'id':hostel.id}) }}"
                                           class="btn btn-sm btn-primary">Zu den Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <p>Nothing to show</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
