{% extends 'base.html.twig' %}

{% block title %}Altmühlsee Unterkünfte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ include('search_sidebar.html.twig') }}
            </div>
            <div class="col-md-9">

                <!-- Hostel view Premium Position -->
                {{ include('hostel_view/top_position_hostel_view.html.twig') }}

                <!-- Hostel view Default Position -->
                {% for hostel in hostels %}
                    <div class="card card-list-hotels mb-2">
                        <div class="row">
                            <div class="img-thumb-box col-md-4">
                                <a href="./details.html?id={{ hostel.id }}">
                                    {#<img src="{{ hostel.id }}" alt="" class="rounded float-left card-img-left">#}
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225 225" class="rounded float-left card-img-left">
                                        <rect fill="#ddd" width="225" height="225"/>
                                        <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">225×225</text>
                                    </svg>
                                </a>
                            </div>
                            <div class="card-body col-md-8 align-top">
                                <h3>{{ hostel.hostelName }}</h3>
                                <strong>{#<?php echo $chunk['typ_name'] ?>#}</strong>
                                <div class="row mb-1">
                                    <div class="col-md-12">
                                        {# <?php foreach ($serviceRepository->getAllServices() as $service): ?>
                                         <?php if (!empty($chunk[$service['name']])): ?>#}
                                       {# <img src="images/icons/{{ hostel.id }}" data-toggle="tooltip"
                                             title="{{ hostel.id }}"/>#}
                                        {#  <?php endif; ?>
                                          <?php endforeach; ?>#}
                                    </div>
                                </div>
                                <div class="accordion" id="accordion_{{ hostel.id }}">
                                    <div class="card">
                                        <div class="card-header" id="heading_{{ hostel.id }}">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapse_{{ hostel.id }}" aria-expanded="true"
                                                        aria-controls="collapseOne">
                                                    <div class="icon-spirit icon-location">
                                                        <i class="fa fa-2x fa-map-marker-alt"></i>
                                                    </div>{{ hostel.city }}
                                                    , 10 KM vom See
                                                    entfernt <i class="fas fa-angle-down rotate-icon"></i>
                                                </button>
                                            </h2>
                                        </div>

                                        <div id="collapse_{{ hostel.id }}" class="collapse"
                                             aria-labelledby="heading_{{ hostel.id }}" data-parent="#accordion_{{ hostel.id }}">
                                            <div class="card-body">
                                                <p>{{ hostel.address }}</p>
                                                <p>{{ hostel.address }} {{ hostel.city }}</p>
                                                <p>Tel.: {{ hostel.phone }}</p>
                                                <p>Fax.: {{ hostel.fax }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <a href="\mailto:{{ hostel.email }}?subject=Altmühlsee Portal Anfrage">E-Mail</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>Nothing to show</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
