{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}


{% block page_content %}
    <!-- Massage Delete Button Handling with Ajax -->
    <script>
        jQuery(function ($) {
            $(window).on('load', function () {
                /* ajax request the notice hostel id */
                $('a.delete').click(function (event) {
                    event.preventDefault();

                    // toggle the heart icon
                    $(this).find('i').toggleClass('fa far');

                    // must save the link before ajax
                    let link = $(this);
                    $.ajax({
                        url: $(this).attr('href'),
                        success: function (response) {
                            link.attr('href', response)// response latter use for new link target
                        }
                    });

                    return false; // for good measure
                });
            });
            // POS_READY the script is inserted in the jQuery's ready function
        });

    </script>
    <!-- Short Inline Admin Dashboard Styling -->
    <style>

        .h3, h5 {
            font-weight: 100;
            color: var(--text-blue-600)
        }


        .card {
            background-color: #fff;
            box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
            border: none;
        }

        .card-header {
            background-color: #fff;
        }

        .card-header h5 {
            display: inline-block;
        }

        #admin-massages-card .card-body {
            padding: 0;
            color: var(--gray-600);
            font-size: 0.8rem;
        }

        .list-group {
            border-radius: 0;
        }

        .list-group h5 {
            font-size: 1rem;
            font-family: var(--font-family-base);
            color: var(--gray-600);
            font-weight: bold;
        }

        .list-group-item {
            border-right: 0;
            border-left: 0;
            border-radius: 0;
            padding-top: 1rem;
            border-top-width: 1px !important;
        }
    </style>

    <!-- Admin Dashboard Main Container -->
    <h1 class="h3 mb-4 border-bottom pb-2">Admin Bereich</h1>
    <div class="row mb-4">

        <div class="col-md-5">
            <!-- Admin Massage Card -->
            <div class="card" id="admin-massages-card">
                <!-- Card Header -->
                <div class="card-header">
                    <h5>Nachrichten</h5>
                    <span class="badge badge-pill badge-primary float-right">{{ admin_messages|length }}</span>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <p class="pl-2">Sie haben mehre System Nachrichten. System Nachrichten werden vom System erzeugt
                        oder durch Kunden die Ihre Kundendaten verändert haben und die dann überprüft werden müssen.</p>
                    <!-- Message Table -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nachricht</th>
                            <th scope="col">Stufe</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Message Row -->
                        {% for adminMassage in admin_messages %}
                            <tr>
                                <th scope="row">{{ adminMassage.id }}</th>
                                <td>
                                    {{ adminMassage.heading|raw }}
                                    {{ adminMassage.subHeading|raw }}
                                    {{ adminMassage.message|raw }}
                                </td>
                                <td><span class="badge badge-{{ adminMassage.type }}">{{ adminMassage.type }}</span></td>
                                <td>{{ adminMassage.dateAdd|date('d.m.Y') }} </td>
                                <td><span class="massage-date"><a
                                                href="{{ path('admin_remove_message', {'id': adminMassage.id}) }}"
                                                class="delete btn btn-sm btn-danger"> <i
                                                    class="fa fa-trash-alt"></i></a></span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- Massages List #END -->
                </div>
                <!-- Card Body #END -->
            </div>
        </div>

        <!-- Account Upgrade col-md -->
        {% if user_upgrade is not empty %}
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <h5>Kundenkonto Upgrade</h5> <span
                                class="badge badge-pill badge-primary float-right">{{ user_upgrade|length }}</span>
                    </div>
                    <div class="card-body">
                        <p>Es gibt Kunden die ein Account Upgrade möchten gehen Sie auf den Button <u>Upgrade
                                durchführen</u> oder Senden Sie den Kunden eine Email. Für ein Upgrade fügen Sie ein
                            weiteres Privileg hinzu lassen sie die Basis-Privilegien bestehen.</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email-Adresse</th>
                                <th scope="col">Email Kontakt</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for upgrade in user_upgrade %}
                                <tr>
                                    <th scope="row">{{ upgrade.id }}</th>
                                    <td>{{ upgrade.name }}</td>
                                    <td>{{ upgrade.email }}</td>
                                    <td><a href="mailto:{{ upgrade.email }}" class="btn btn-sm btn-info"><i
                                                    class="fa fa-envelope-open"></i> Senden</a></td>
                                    {% set url = ea_url()
                                        .setController('App\\Controller\\Admin\\AdminUserCrudController')
                                        .setAction('edit')
                                        .setEntityId(upgrade.id) %}
                                    <td><a href="{{ url }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i>
                                            Upgrade durchführen</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <p class="card-text">{{ user_upgrade|length }}x Anfrage zum Account Upgrade</p>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- New Hostel Entry -->
        {# <div class="col-md-4">
             <div class="card">
                 <div class="card-header">
                     <h5>Neuer Unterkunft Eintrag <span class="badge badge-pill badge-primary">3</span></h5>
                 </div>
                 <div class="card-body">
                     <table class="table">
                         <thead>
                         <tr>
                             <th scope="col">#</th>
                             <th scope="col">First</th>
                             <th scope="col">Last</th>
                             <th scope="col">Action</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr>
                             <th scope="row">1</th>
                             <td>Mark</td>
                             <td>Otto</td>
                             <td><a href="" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Edit</a></td>
                         </tr>
                         <tr>
                             <th scope="row">2</th>
                             <td>Jacob</td>
                             <td>Thornton</td>
                             <td><a href="" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Edit</a></td>
                         </tr>
                         <tr>
                             <th scope="row">3</th>
                             <td>Larry</td>
                             <td>the Bird</td>
                             <td><a href="" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Edit</a></td>
                         </tr>
                         </tbody>
                     </table>
                     <p class="card-text">1x Anfrage zum Account Upgrade</p>
                 </div>
             </div>
         </div>#}
    </div>

    <!-- Information Section -->
    <h1 class="h3 mb-4 border-bottom pb-2">Informationen</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Werbung mit falschen Sternen wird bekämpft</h5>
                </div>
                <div class="card-body">
                    <p>
                        Wer mit Hotelsternen ohne eine entsprechende Klassifizierung wirbt, muss im Fall der Entdeckung
                        mit
                        einer kostenpflichtigen Abmahnung der Zentrale zur Bekämpfung unlauteren Wettbewerbs rechnen.
                        Das
                        gilt auch dann, wenn ein Betrieb nicht dafür sorgt, dass Portale ihn ohne Sterne präsentieren.
                        <a href="https://www.dehogabw.de/informieren/dehoga-nachrichten/2017/werbung-mit-falschen-sternen-wird-bekaempft.html"
                           target="_blank" class="btn btn-link">Mehr Infos</a>
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Die Wirkung von Bildern</h5>
                </div>
                <div class="card-body">
                    <p>
                        Wer mit guten Bildern wirbt wird mehr erfolg haben. Diese These wurde schon tausenden male
                        untersucht und bestätigt. Also wenn sie eine Unterkunft anlegen oder Bilder von Zimmern
                        Hochladen sollten diese immer die Beste Qualität haben. Dies hat schließlich einfluss auf Ihren
                        erfolg. <a
                                href="https://conversionboosting.com/article/die-richtigen-fotos-fuer-mehr-conversions_2305/"
                                target="_blank" class="btn btn-link">Mehr Infos</a>
                    </p>

                    <p>Sie brauchen Hilfe zu erstellen von und hochladen von Bildern. <a href="mailto:"
                                                                                         target="_blank"
                                                                                         class="btn btn-link">Kontakt
                            für Hilfe</a></p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
