{% extends 'base.html.twig' %}

{% block description %}{{ content.metaDescription }}{% endblock %}

{% block title %}{{ content.metaTitle }}{% endblock %}

{% block body %}
    <!-- Start Page Teaser Container -->
    <div id="start-page-image" class="mb-2">
       <div class="container-fluid">
           <img src="{{ systemoption.startPageBackground }}" alt="{{ systemoption.webSiteName }}">
        </div>
    </div>
    <!-- Start Page Teaser Container #END -->

    <!-- Soapy Search Container -->
    <div id="soapy" class="mb-2">
        <div class="container">
            <div>
                {% include('search.html.twig') %}
            </div>
        </div>
    </div>
    <!-- Soapy Search Container #END -->

    <div class="container mt-5 mb-5">

        <!-- Leisure Time Container -->
        <h1 class="heading-sp"><a href="{{ path('leisure') }}" class="text-decoration-none">Freizeitangebote</a></h1>
        <div class="row mb-5">
            {% for leisure in leisures %}
                {{ include('boxes/_leisure_item_box.html.twig') }}
            {% endfor %}
        </div>
        <!-- Leisure Time Container #END -->

        <!-- Event Time Container -->
        <h2 class="heading-sp">Veranstaltungen <small><a href="{{ path('event') }}" class="text-success">Alle
                    Veranstaltungen anzeigen</a></small></h2>
        <div class="row mb-5">
            <!-- Events Box -->
            <div class="col-md-6">
                {{ include('boxes/_events_widget.html.twig') }}
            </div>
            <!-- Weather Box -->
            <div class="col-md-6">
                {{ include('boxes/_openweather_widget.twig') }}
            </div>
        </div>
        <!-- Event Time Container #END -->

        <!-- Premium Member Ads Container -->
        <h3 class="heading-sp">Gastgeber <small class="font-weight-lighter text-muted">Werbung</small></h3>
        {{ include('boxes/_premium_host_box.html.twig') }}
        <!-- Premium Member Ads Container #END -->

        <!-- Index Page Text Content Container -->
        <h4 class="heading-sp">{{ content.heading }}</h4>
        <div class="row mb-5">
                <small class="h6 text-muted">{{ content.subHeading }}</small>
                <div class="mt-3">{{ content.content|raw }}</div>
        </div>
        <!-- Index Page Text Content Container #END -->

    </div>
{% endblock %}