{% extends 'base.html.twig' %}

{% block title %}Ihr Merkzettel{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4 text-center">Gastgeber Vergleichen</h1>

        {% if hostels is not empty %}<p class="lead">Vergleichen Sie Ihre Unterkünfte</p>{% endif %}
        <div class="row">

            <!-- Notice Hostels Loop -->
            {% for hostel in hostels %}
                <div class="col-md-3">
                    <div class="card card-list-hotels mb-2">

                        <div class="img-thumb-box" id="heart-overflow">

                            <!-- Notice Heart Button Ajax submit -->
                            {% if hostel.id in app.session.get('notice') %}
                                <a href="{{ path('notice_remove',{'id':hostel.id}) }}" class="notice-button"><i
                                            class="fas fa-heart"></i></a>
                            {% else %}
                                <a href="{{ path('notice_add',{'id':hostel.id}) }}" class="notice-button"><i
                                            class="far fa-heart"></i></a>
                            {% endif %}
                            <!-- Notice Heart Button Ajax submit #END -->

                            <a href="{{ path('hostel_details',{'id':hostel.id}) }}">
                                <!-- Hostel Image -->
                                {% if hostel.image is not empty %}
                                    <!-- Image -->
                                    <img src="{{ hostel.image }}" alt="{{ hostel.hostelName }}"
                                         class="rounded card-img">
                                {% else %}
                                    <!-- Place Holder -->
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225 225"
                                         class="rounded card-img">
                                        <rect fill="#ddd" width="225" height="225"/>
                                        <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5"
                                              font-weight="bold" x="50%" y="50%" text-anchor="middle">Kein Bild
                                        </text>
                                    </svg>
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-body">
                            <h2 class="h6">
                                <a href="{{ path('hostel_details',{'id':hostel.id}) }}">{{ hostel.hostelName|u.truncate(30, '...') }}</a>
                            </h2>

                            <p>{{ hostel.city }}</p>

                            <!-- Reference Table-->
                            <table class="table table-striped">
                                <tr><td>{{ hostel.hostelType }}</td><td></td></tr>
                                <tr>
                                    <td>Zum See</td>
                                    <td>{{ hostel.distanceToSee|number_format('1',',','.') }} KM</td>
                                </tr>
                            </table>

                            <!-- Button Group -->
                            <div class="btn-group-sm mb-2">
                                <a href="mailto:{{ hostel.email }}?subject=Altmühlsee Portal Anfrage"
                                   class="btn btn-sm btn-outline-primary"><i class="fa fa-envelope"></i> E-Mail</a>
                                <a href="{{ path('hostel_details',{'id':hostel.id}) }}"
                                   class="btn btn-sm btn-outline-primary">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <!-- Place Holder -->
                <div class="col-md-12 mt-5 mb-5">
                    <div class="h4">
                        <p class="border-left border-info pl-3">Sie haben noch keine Unterkünfte auf Ihrem
                            Merkzettel!</p>
                        <p class="border-left border-info pl-3">Um eine Unterkunft auf den Merkzettel zu speichern
                            klicken Sie einfach auf das <i class="fas fa-heart"></i> Symbol.</p>
                    </div>
                </div>
            {% endfor %}
            <!-- Notice Hostels Loop #END -->
        </div>
    </div>
{% endblock %}
