<!-- Advertising start page place one -->
<a href="{{ advertising.link }}" target="_blank" title="{{ advertising.text|striptags|slice(0, 60) ~ '...' }}">
    <img src="{{ advertising.image }}" class="card-img-top" alt="{{ advertising.text|striptags|slice(0, 60) ~ '...' }}">
</a>
<h4>{{ advertising.title }}</h4>
<div class="sub-line">{{ advertising.text|raw}}</div>
<div class="location-box"><i
            class="fas fa-map-marker-alt"></i> {{ advertising.city }}  {{ advertising.distance_to_see|number_format('1',',','.') }}
    km zum See
</div>
