<!-- Events Widget -->
<div id="events-widget">
    {% for event in events %}
        <!-- Event -->
        <div class="row mb-4">

            <!-- Event Date -->
            <div class="col-md-2 mr-2">
                <div class="event-date-cycle border-color-{{ cycle(['yellow', 'green','red','purple'], loop.index0) }}">
                    {{ event.event_start_date|date('d.m H:i') }} UHR
                </div>
            </div>
            <!-- Event Date #END -->

            <!-- Event Card -->
            <div class="col-md-9 ml-2">
                <div class="card border-color-{{ cycle(['yellow', 'green','red','purple'], loop.index0) }} shadow-sm">
                    <!-- E.Header -->
                    <div class="card-header">
                        <!-- Image -->
                        {% if event.image is not empty %}
                            <img src="{{ event.image }}"
                                 alt="{{ event.title|striptags }}"
                                 class="rounded-circle float-left" width="45">
                        {% else %}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg"
                                 alt=""
                                 class="rounded-circle float-left" width="45">
                        {% endif %}
                        <!-- Titel -->
                        <h5 class="mb-1"><a href="{{ path('event_details',{'id':event.id}) }}">{{ event.title }}</a></h5>
                        <!-- Address a. Start Date -->
                        <small><i class="fa fa-map-marker-alt"></i> {{ event.address }}
                            den {{ event.event_start_date|date('d.m.Y') }}</small>
                    </div>
                    <!-- E.Header #END -->

                    <div class="card-body">
                        <!-- Description -->
                        <p> {{ event.short_description }}</p>
                        <a href="{{ path('event_details',{'id':event.id}) }}"
                           class="btn btn-{{ cycle(['yellow', 'green','red','purple'], loop.index0) }}">Zur Detailseite
                        </a>
                        {% if event.longitude is not empty and event.latitude is not empty %}
                            <p class="text-right text-muted"><small>Detailseite mit Lage <a href="{{ path('event_details',{'id':event.id}) }}#map">Karte</a> <i class="fas fa-map-marked-alt"></i></small></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Event Card #END -->

        </div>
        <!-- Event #END -->
    {% endfor %}
</div>
<!-- Events Widget #END -->