{% for item in openweather._getWeatherArray %}
    {# Only show if dataset status-code 200 #}
    {% if item.status == 200 %}

        <!-- Card -->
        <div class="card" id="weather-widget">
            <div class="card-header text-center">
                Wetter Altmühlsee
            </div>

            <!-- Card-Body -->
            <div class="card-body">
                <!-- Weather Today Row -->
                <div class="row mb-3" id="weather-current">
                    <div class="col-md-3">
                        <!-- Weather Today Icon -->
                        <img src="{{ asset('build/images/weather/' ~ item.weather.current.weather.0.icon ~ '.svg') }}"
                             alt="Das Wetter wird {{ item.weather.current.weather.0.description }} in Altmühlsee">
                    </div>
                    <div class="col-md-9">
                        <!-- Weather Today Date -->
                        <p class="ow-date">{{ item.weather.current.dt|date('l, d.m.Y') }}</p>
                        <!-- Weather Today Temp Feel -->
                        <p class="ow-temp">Aktuell {{ item.weather.current.temp|round }}°C</p>
                        <!-- Weather Today in Word -->
                        <p>{{ item.weather.current.weather.0.description }}</p>
                    </div>
                </div>
                <!-- Weather Today Row # END-->

                <!-- 3 Days Weather Row -->
                <div class="row" id="weather-forecast">
                    {% for daily in item.weather.daily %}
                        {% if loop.index <= 3 %}
                            {% if daily is iterable %}

                                <!-- Day Weather -->
                                <div class="col-md-4">
                                    {% for weather in daily.weather %}
                                        {% if weather is iterable %}
                                            <!-- Day Weather Date -->
                                            <p class="text-center ow-date">{{ daily.dt|date('D, d.m') }}</p>
                                            <!-- Day Weather Icon -->
                                            <img src="{{ asset('build/images/weather/' ~ weather.icon ~ '.svg') }}"
                                                 alt="Das Wetter wird {{ weather.description }} in Altmühlsee">
                                        {% endif %}
                                    {% endfor %}


                                    <!-- Day Weather Feel -->
                                    <p class="text-center ow-temp">{{ daily.feels_like.night|round }} / {{ daily.feels_like.day|round }}°C</p>
                                    <!-- Day Weather as Word -->
                                    {% for weather in daily.weather %}
                                        {% if weather is iterable %}
                                            <p class="text-center">{{ weather.description }}</p>
                                        {% endif %}
                                    {% endfor %}
                                    <!-- Day Weather as Word #END -->
                                </div>
                                <!-- Day Weather #END -->

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- 3 Days Weather Row #END -->
                <span class="info-ow d-block text-right"><a href="https://openweathermap.org/api/one-call-api" class="text-muted">OpenWeather ®</a></span>
            </div>
        </div>

    {% endif %}
{% endfor %}