<!-- Premium host place box -->
<div class="row">

    <!-- advertising list before first class -->
    {% for advertising in advertisings %}
        <div class="col-md-3">
            {{ include('boxes/_advertising_item_box.html.twig') }}
        </div>
    {% endfor %}
    <!-- advertising list before #END -->

    <!-- start page second place -->
    {% for hostel in start_page_hostels %}
        <div class="col-md-3">
            <img src=".//" class="card-img-top" alt="">
            <h4>{{ hostel.hostelName }}</h4>
            <div class="sub-line">Super Hostel {#{{ hostel.amenities.0 }}#}</div>
            <div class="location-box"><i class="fas fa-map-marker-alt"></i> {{ hostel.city }}  {{ hostel.distanceToSee|number_format('1',',','.')}} km zum See</div>
        </div>
    {% else %}
        <!-- albrecht webservice advertising -->
        {# werbung wb service albrecht #}
    {% endfor %}
    <!-- start page second place #END -->

</div>