<!-- Premium host place box -->
<div class="row" id="premium-host-box">

    <!-- advertising list before first class -->
    {% for advertising in advertisings %}
        <div class="col-md-3 mb-4">
            {{ include('boxes/_advertising_item_box.html.twig') }}
        </div>
    {% endfor %}
    <!-- advertising list before #END -->

    <!-- start page second place -->
    {% for hostel in start_page_hostels %}
        <div class="col-md-3 mb-4" id="heart-overflow">

            <!-- Notice Heart Button Ajax submit -->
            {% if hostel.id in app.session.get('notice') %}
                <a href="{{ path('notice_remove',{'id':hostel.id}) }}" class="notice-button"><i
                            class="fas fa-heart"></i></a>
            {% else %}
                <a href="{{ path('notice_add',{'id':hostel.id}) }}" class="notice-button"><i
                            class="far fa-heart"></i></a>
            {% endif %}
            <!-- Notice Heart Button Ajax submit #END -->

            <a href="{{ path('hostel_details',{'id':hostel.id}) }}">
                {% if hostel.image is not empty %}
                    <!-- Image -->
                    <img src="{{ hostel.image }}" alt="{{ hostel.hostelName }}"
                         class="card-img-top">
                {% else %}
                    <!-- Place Holder -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 225 225"
                         class="card-img-top">
                        <rect fill="#ddd" width="225" height="225"/>
                        <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5"
                              font-weight="bold" x="50%" y="50%" text-anchor="middle">225×225
                        </text>
                    </svg>
                {% endif %}
            </a>
            <a href="{{ path('hostel_details',{'id':hostel.id}) }}"><h4>{{ hostel.hostelName }}</h4></a>
            <div class="location-box"><i class="fas fa-map-marker-alt"></i> {{ hostel.city }}  {{ hostel.distanceToSee|number_format('1',',','.')}} km zum See</div>
        </div>
    {% else %}
        <!-- albrecht webservice advertising -->
        {# werbung wb service albrecht #}
    {% endfor %}
    <!-- start page second place #END -->

</div>