{# templates/emails/new_hostel_entry.html.twig #}
<h3>Ein kunde hat eine neue Unterkunft angelegt</h3>

Der Kunde {{ user_name }} hat eine neue Unterkunft angelegt.
Diese sollten Sie <a href="{{ user_hostel_edit_url }}">hier</a> prüfen wenn alles in Ordnung ist nicht vergessen den Status auf Online zu stellen.

{# example, assuming you have a route named "login" #}
Zum Login, gehen Sie auf: <a href="{{ url('admin') }}">Admin-Bereich</a>.

Danke!


<h4>Weitere Information</h4>
Kunden-Nummer: {{ user_number }}<br>
Name: {{ user_name }}<br>
E-Mail: {{ user_email }}<br>
Mitglied-Seit: {{ user_registration_date }}<br>