{# templates/emails/registration.html.twig #}
<h3>Super! Sie sind jetzt Mitglied bei uns {{ name }}</h3>

Hallo! Sie haben sich erfolgreich bei uns registriert.

{# example, assuming you have a route named "login" #}
Zum Login, gehen Sie auf: <a
        href="{{ url('user') }}">Mitglieder-Bereich</a> dort ist Ihr Mitglieder Bereich in dem Sie nach freischaltung Ihren eintrag machen können.

Ihr Account ist bis zum {{ oneYear }} befristet gültig und verlängert sich Automatisch wenn nicht 4 Wochen vor Ablauf gekündigt wird.

Danke!

Sollten Sie hilfe benötigen bin ich gerne für Sie da Ihre Susanne
{{ systemoption.SupportEmailAddress }}

Viele Grüße Susanne

{# Makes an absolute URL to the /favicon.ico file #}
<img src="{{ absolute_url(asset('/favicon.ico')) }}">
<br>
<p>Sie erhalten diese Email weil sich mit dieser Email Adresse: {{ registration_member_email }} ein Kundenkonto
    auf {{ path('index') }} angelegt wurde. Sollte Sie sich dort nicht Registriert haben Melden Sie sich bitte beim
    Support damit wir Ihre Daten wieder löschen können.</p>
<p>Support-Email: {{ systemoption.SupportEmailAddress }}</p>