<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">

    <meta name="description"
          content="{% block description %}Welcome!{% endblock %}">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {# todo IMPORTENT remove in production no index #}
    <meta name="robots" content="noindex" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:300&display=swap" rel="stylesheet">
    <!-- Fontawesome Icons -->

    {#<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/ico">#}

    <!-- Dynamic Style -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('global') }}
        {{ encore_entry_link_tags('irs') }}
    {% endblock %}

</head>
<body id="body">
<div class="container-fluid">


    <div class="bg-dark p-1" id="header-banner">
        <div class="row">
            <div class="col-md-6">
                <div class="text-left text-white pl-2 d-none d-md-block">
                    <i class="fas fa-envelope"></i>
                    info@altmuehlsee.com
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right text-white pr-2">
                    Zum Portal für Ihren Urlaub am <a href="https://brombachsee.de/" class="text-white">Brombachsee</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Header with Navigation -->
    <header class="header">
        {% include('navigation.html.twig') %}
    </header>
    <!-- Header with Navigation #END -->




            <!-- Hostel search form -->
           {# {% if app.request.get('_route') == 'index' or app.request.get('_route') == 'gastgeber' %}
                #}{# only show search on index and gastgeber page #}{#
                <div class="col-md-3">
                    <aside id="search">

                    </aside>
                </div>
            {% endif %}#}
            <!-- Hostel search form #END -->


                <main id="main">
                    {% block body %}

                    {% endblock %}
                </main>



            <!-- Ads -->
          {#  {% if app.request.get('_route') == 'index' or app.request.get('_route') == 'gastgeber' %}
                #}{# only show search on index and gastgeber page #}{#
                <div class="col-md-3">
                    <aside id="ads">
                        {{ include('advertising.html.twig') }}
                        {{ include('wetter.html.twig') }}
                    </aside>
                </div>
            {% endif %}#}
            <!-- Ads #END -->

</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            {{ include('boxes/_openweather_widget.twig') }}
        </div>
    </div>
</div>

    <!-- Footer -->
    <footer id="footer">
            {% include('footer.html.twig') %}
    </footer>
    <!-- Footer #END -->




<!-- JAVASCRIPT -->
<!-- .js at the end -->
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
