<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-3">
            <h5 class="text-uppercase">Brauchen Sie Hilfe</h5>
            <div class="list-group">
                <div class="list-group-space">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="mb-1">Rufen Sie uns an</small>
                        </div>
                        <h6 class="mb-1">09831 881354</h6>
                    </a>
                </div>
                <div class="list-group-space">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="mb-1">Schreiben Sie uns</small>
                        </div>
                        <h6 class="mb-1">info@altmuehlsee.com</h6>
                    </a>
                </div>
                <div class="list-group-space">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <small class="mb-1">Folgen Sie uns</small>
                        </div>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-facebook-square"></i></li>
                            <li><i class="fa fa-instagram-square"></i></li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h5 class="text-uppercase">Inhalt</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('hostel_view') }}" class="text-muted">Gastgeber</a>
                </li>
                <li>
                    <a href="{{ path('static_site_region') }}" class="text-muted">Region</a>
                </li>
                <li>
                    <a href="{{ path('event') }}" class="text-muted">Veranstaltungen</a>
                </li>
                <li>
                    <a href="{{ path('static_site_leisure') }}" class="text-muted">Freizeit</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5 class="text-uppercase">Information</h5>
            <ul class="list-unstyled">
                <li><a href="{{ path('static_site_imprint') }}" class="text-muted">Impressum</a></li>
                <li><a href="{{ path('static_site_privacy') }}" class="text-muted">Datenschutzerklärung</a></li>
                <li><a href="{{ path('static_site_contact') }}" class="text-muted">Kontakt</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5 class="text-uppercase">Mitglieder</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('app_register') }}">Mitglied werden</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{ path('app_logout') }}" class="text-muted">Logout</a>
                    </li>
                    <li>
                        <a href="{{ path('admin') }}" class="text-muted">Admin</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('app_login') }}" class="text-muted">Login</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('app_register') }}" class="text-muted">Inserat</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bg-light" id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="text-muted">2007 - {{ "now"|date('Y') }} ©</span> <a
                        href="http://webservice-albrecht.de"
                        target="_blank" class="text-muted">Webservice
                    Albrecht</a>
                <div class="row">
                    <div class="col-md-12">
                       <span
                               xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage"
                               property="dct:title" rel="dct:type">Weather Icons</span> by <a
                                xmlns:cc="http://creativecommons.org/ns#" href="https://dovora.com"
                                property="cc:attributionName" rel="cc:attributionURL">Dovora Interactive</a> is licensed
                        under a
                        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution
                            4.0
                            International License</a>.<br/>Based on a work at <a xmlns:dct="http://purl.org/dc/terms/"
                                                                                 href="https://dovora.com/resources/weather-icons/"
                                                                                 rel="dct:source">https://dovora.com/resources/weather-icons/</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-dark">
    <div class="container">
        <div class="row p-1">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="#top-navigation" class="text-white d-block">TOP</a>
                </div>
            </div>
        </div>
    </div>
</div>