<nav class="navbar navbar-expand-lg navbar-light" id="top-navigation">
   <div class="container">
      <a class="navbar-brand" href="/">Altmühlsee</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link {% if app.request.get('_route') == 'hostel_view' %}active{% endif %}" href="{{ path('hostel_view') }}">Gastgeber</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if app.request.get('_route') == 'static_site_leisure' %}active{% endif %}" href="{{ path('static_site_leisure') }}">Freizeitangebote</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if app.request.get('_route') == 'event' %}active{% endif %}" href="{{ path('event') }}">Veranstaltung</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if app.request.get('_route') == 'static_site_region' %}active{% endif %}" href="{{ path('static_site_region') }}">Region</a>
            </li>
            <!-- Notice link -->
            <li class="nav-item">
               <a class="nav-link {% if app.request.get('_route') == 'notice' %}active{% endif %}" href="{{ path('notice') }}">Merkzettel {% if app.session.get('notice') is not empty %}<span class="badge badge-pill badge-success">{{ app.session.get('notice')|length }}</span>{% endif %}</a>
            </li>

            <!-- Sub Dropdown -->
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Info
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ path('static_site_entry') }}">Premium-Mitgliedschaft</a>
                  <a class="dropdown-item" href="{{ path('static_site_entry') }}#werbung">Werbung</a>
                  <a class="dropdown-item" href="{{ path('static_site_entry') }}">Inserat</a>
                  <a class="dropdown-item" href="{{ path('static_site_event_entry') }}">Event eintragen <span
                             class="badge badge-pill badge-primary">FREI</span></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ path('static_site_contact') }}">Kontakt</a>
                  <a class="dropdown-item" href="{{ path('static_site_imprint') }}">Impressum</a>
               </div>
            </li>
         </ul>
      </div>
   </div>
</nav>